.searchPage {
    position: relative;
    
    // z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    height: 100%;
    // margin-top: auto;
    // background-color: blur(5px);

    // backdrop-filter: blur(5px);

    &__header {
        color: $--black;
        font-size: 4rem;
        margin-bottom: 5rem;
        text-align: center;
        text-shadow: 0 0 1rem $--bluish;
    }

    &__form {
        // position: absolute;
        // z-index: 1;
        // bottom: 5rem;
        // width: 50%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.6rem;
        // border: 1px solid red;

        &--input {
            border-radius: 1rem;
            border: none;
            padding: 1rem 2rem;
            // font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
            box-shadow: 0 .5rem 1rem $--black;
            font-weight: 600;
        }



        & input[type=text]:focus {
            background-color: rgb(247, 240, 181);
            transform: scale(1.1);
            transition: all ease 300ms;
        }

        &--btn {
            border: none;
        }
    
    }

    &__searchMap {
        text-decoration: none;
        color: $--mustard;
        background-color: $--black-lighter;
        // text-shadow: 0 0 .5rem black;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        border-radius: 1rem;

        &:hover {
            background-color: $--greenish;
            color: $--black;
            
        }
    }
}

.btn {
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    color: $--white;
    font-size: 2rem;
    background-color: $--bluish;
    box-shadow: 0 .5rem 1rem $--black;
}



.weatherCard {
    position: relative;
    // background-color: transparent;
    max-height: 95vh;
    max-width: 30rem;
    // margin: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;    
    border-radius: 1rem;
    box-shadow: 0 0 2rem black;
    // padding: 2rem;
    overflow: hidden;

    &.box-styling {
        // background-color: $--white;
    }

    // @media only screen and (min-width: $bp-small) {
    //     margin: 0;
    //     max-width: 90%;
    // }


    @media only screen and (min-width: $bp-smallest) {
        margin: 0;
        // max-width: 0;
        min-width: 32em;
    }


    

    &__body {
        // grid-area: body;
        // margin: auto;
        // padding: 1rem 2rem;
        // width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        // border: 1px solid blue;
        background-color: transparent;
        // overflow: hidden;

    }

   
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $--blue-gray;
    font-size: 1.6rem;
    height: 40rem;
    // margin: 2rem;
    // border-radius: 1rem;
    // color: $--dark-blue-alt;
    position: relative;
    // overflow: hidden;
    flex: 1 0 100%;
    // padding-bottom: 1rem;

    &__container {
        margin: 2rem;
        // background-color: $--black-lightest;
        // margin: 1rem;
        // border: 1px solid blue;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-left: 1rem;
        position: relative;
        z-index: 1;

        &:hover,
        &:hover h3,
        &:hover h5,
        &:hover path {
            cursor: pointer;
            color: $--greenish;
            fill: $--greenish;
            text-shadow: 0 0 1rem black;
        }
    }

    &__heading {
        font-size: 3rem;
        color: $--dark-blue;
        text-shadow: 0 0 1rem white;

        &--sub {
            font-size: 1.5rem;
            color: $--dark-blue;
            text-shadow: 0 0 1rem white;
        }
    } 

    &--add-fav {
        fill: $--dark-blue;
    }

    &__details {
        position: absolute;
        z-index: 2;
        top: 7.5rem;
        right: 12rem;
        font-weight: bold;
        font-size: 3rem;
        margin: 0 0 1rem 1rem;
        color: $--dark-blue;
        // background-color: $--white-light;
        // background-clip: text;
        text-shadow: 0 0 1rem white;
        
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }  
    

    &__icon {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 3rem;
        height: auto;
        width: 100%;

        object-fit: cover;
        
        &--img {
            transform: scale(1.75);
            position: absolute;
            top: 0;
            right: 0;
            filter: drop-shadow(.5rem .5rem .5rem gray) contrast(2);
            // filter: saturate(50%);
        }

        &--description {
            position: absolute;
            z-index: 1;
            top: 9.5rem;
            right: 0;
            display: flex;
            color: $--white;
            font-weight: 800;
            // background-color: $--white-lightest;
            text-shadow: 0 0 1rem black;
            align-self: flex-end;
            font-size: 1.25rem;
            // padding: 1rem;

           
        }
    }
}

.map {
    // grid-area: map;
    position: relative;
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: row;

    &__border {
        position: relative;
        z-index: 9;
        height: 100%;
        // flex: 0 1;
        width: 2rem;
        background-color: $--blue-gray;
        overflow: hidden;
    }

    &__window {
        
        position: relative;
        z-index: 10;
        // height: 100%;
        width: 100%;
        // border: 2px solid black;
        // border-radius: 1rem;
        overflow: hidden;
        flex: 1 1 90%;
        // background-color: transparent;
        // background-clip: content-box;
        // border: 2px solid $--black;
        box-shadow: $--weather-box-shadow;
        overflow: hidden;
        // filter: blur(1px);
        // border-radius: 1rem;
        


    }
    

}

.forecast {
    padding: 2rem;
    background-color: $--blue-gray;
    // overflow: scroll;

    &__header {
        background-color: $--black-lightest;
        color: $--white;
        text-shadow: 0 0 .5rem black;
        padding: .25rem .25rem .25rem 1rem;
        // margin-bottom: .5rem;
        font-weight: 400;
        letter-spacing: .15rem;
        text-transform: uppercase;
        // box-shadow: $--weather-box-shadow;
    }
}


.hourly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 1rem;
    box-shadow: $--weather-box-shadow;


    &__detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: $--white-light;
        color: $--black;
        // box-shadow: 0 0 2rem black;

        // background-color: rgba(224, 224, 224, 0.747);
        // border-radius: 1rem;

 

        &--time {
            margin-top: .5rem;
            font-weight: 800;
            font-size: 1.25rem;

        }

        &--temp {
            margin-top: .5rem;
            font-size: 1.2rem;
            color: $--dark-blue;
            font-weight: 800;
        }

        &--icon {
            padding: -.5rem;
            height: 100%;
            width: 100%;
            // background-clip: content-box;
            // background-color: $--white-lightest;
            filter: drop-shadow(.5rem .5rem .5rem gray) contrast(2);
            // box-shadow: 0 0 1rem $--white-lightest;
        }
    }
}

.daily {
    // box-shadow: 0 0 2rem black;
    box-shadow: $--weather-box-shadow;


    &__detail {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        // background-color: $--white-lightest;
        // flex-direction: row;
        // justify-content: space-between;
        // border-radius: 1rem;
        background-color: $--black-lightest;
        padding: 0 .5rem;
        font-size: 1rem;
        color: $--dark-blue;
        

        &:first-child {
            // margin-top: .5rem;
        }

        &--weekday {
            grid-column: 1 / 6;
            text-transform: uppercase;
            
            display: flex;
            flex-direction: row;
        }

        &--icon {
            height: 3rem;
            filter: opacity(.75) contrast(2); 
        }

        &--day {
            // align-self: flex-start;
            // font-weight: 600;
            // padding-left: .5rem;
            align-self: center;
            letter-spacing: .1rem;
            font-weight: bold;
        }

        &--precip {
            grid-column: 9 / 12;
            justify-self: start;
            // padding-right: 2rem;
            // background-color: gray;
            // width: 8rem;
            // border: 1px solid blue;
            align-self: center; //centering vertically
            // margin-left: auto;
            
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            // font-size: 1rem;



            & p .text {
                font-weight: bold;
            }

            & img {
                height: 1.5rem;
            }

        }

        &--temp {
            grid-column: -1;
            // justify-items: end stretch;
            display: flex;
            flex-direction: row;
            align-self: center;

            font-weight: bold;
            // justify-self: start;
            // margin-left: auto;
            // justify-content: space-between;




           

            

        }
    }

    

    // &-temp {
    //     grid-column: 12;
    // }
}
    



.temp__bars {
    display: flex;
    flex-direction: column;
    // justify-items: center;
    // justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 4rem;
    height: 100%;
    padding: 0 .5rem;
    position: relative;
    // border: 1px solid magenta;
    // font-size: .5rem;

    &--low {
        // justify-self: center;
        // position: relative;
        height: .5rem;
        width: 0%;
        background-image: hsl(0, 80%, 60%);
    }

    &--high {
        // justify-self: flex-end;
        position: relative;
        height: .5rem;
        width: 0%;
        background-color: hsl(0, 80%, 60%);
        transition: all ease 1000ms;
    }
}

.component-box {
    background-color: $--dark-blue;
}

.favorites {
    width: 100%;
    max-height: 90vh;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;

    display: flex;
    flex: 0 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    //TODO add media query for favorites size

    &__header {
        background-color: $--dark-blue;
        color: $--white;
        font-size: 1.4rem;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    &__card {
        width: 100%;
        // border: 1px solid red;
        background-color: $--white-light;
        // padding: 1rem;
        border-radius: 1rem;
        overflow: hidden;
        margin: .25rem 1rem;
        display: flex;
        flex-direction: row;
        transition: all ease 200ms;
        box-shadow: 0 0 1rem $--black-light;


        &:hover {
            background-color: $--greenish;
            transition: all ease 200ms;
        }

    
        &--img {
            height: 100%;
            object-fit: cover;
            
        }

        &--detail {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            // border: 1px solid blue;
            // background-color: $--dark-blue;
            height: 100%;


            &-header {
                
                height: 100%;
                width: 100%; 
                display: flex;
                margin-right: 1rem;

                & a {
                    padding: .5rem 0;
                    align-self: center;
                    width: 100%;
                    // background-color: rosybrown;
                    text-decoration: none;
                    color: $--dark-blue;
                }
            }

            &--remove-favorite {
                margin-left: auto;
            }
        }

        &--locationID {
            display: none;
        }
    }



}

#mapid {
    height: 100%;
    width: 100%;
    position: relative ;
    z-index: -1 ;   
    opacity: 0;
}

#map {
    height: 100%;
    width: 100% ;
    position: fixed ;
    z-index: -1 ;
    // filter: grayscale(50);
    
    
}

.map-marker svg {
    // height: 2rem;
    // width: 2rem;
    transform: scale(.2);

}


.remove-fav {
    background-color: $--reddish-lighter;
    border-radius: 50%;
    fill: #ffffff;

    &:hover {
        background-color: $--reddish;
    }
}

.leaflet-tile-loaded {
    // background-color: transparent;
    background-blend-mode: darken;
    // filter: contrast(150%) ;
}