




.searchPage {
    position: relative;
    
    // z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    height: 100%;
    // margin-top: auto;
    // background-color: blur(5px);

    // backdrop-filter: blur(5px);

    &__header {
        color: $--black-light;
        font-size: 4rem;
        margin-bottom: 5rem;
        text-align: center;
        text-shadow: 0 0 1rem $--bluish;
    }

    &__form {
        // position: absolute;
        // z-index: 1;
        // bottom: 5rem;
        // width: 50%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.6rem;
        // border: 1px solid red;

        &--input {
            border-radius: 1rem;
            border: none;
            padding: 1rem 2rem;
            // font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
            box-shadow: 0 .5rem 1rem $--black;
            font-weight: 600;
        }



        

        &--btn {
            border: none;
        }
    
    }

    
}

input[type=text]:focus {
    background-color: rgb(247, 240, 181);
    // border: 2px solid $--dark-blue;
    // transform: scale(1);
    padding: .5rem;
    transition: all ease 300ms;
}

.btn {
    padding: .75rem 1rem .5rem 1rem ;
    border-radius: $--box-radius;
    color: $--white;
    font-size: 2rem;
    background-color: $--dark-blue-lighter;
    box-shadow: $--weather-box-shadow;

    &--modal {
        box-shadow: none;
    }

    &:hover {
        cursor: pointer;

    }
}

.search__modal {
    position: relative;
    // margin: 0 2rem;
    align-self: start;
    justify-self: center;
    height: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    // background-image: linear-gradient(135deg, $--gradient-1, $--gradient-2);
    position: relative;
    // box-shadow: $--weather-box-shadow;
    // border-radius: $--box-radius;
    padding: 4rem 0 6rem 0;

    @media only screen and (min-width: $bp-smallest) {
        // margin: 0;
        // max-width: 0;
        // min-width: 32em;
        box-shadow: $--weather-box-shadow;
        border-radius: $--box-radius;
    }



    &--header {

        font-size: 2rem;
        text-align: left;
        margin: 1rem 0;
        color: $--black-light;
        text-shadow: 0 0 1rem white;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &--form {

        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // margin: 1rem;
        // background-color: $--black-lightest;
        min-height: 100%;
        width: 100%;
        padding: 1rem;
        flex: 1;
        position: relative;
        // margin: .5rem;

        &-input {
            width: 100%;
            padding: .1rem 1rem;
            margin-bottom: 1rem;
            border: none;
            border-radius: .75rem;
            font-size: 1.5rem;
            font-weight: bold;
            // box-shadow: $--weather-box-shadow;
            // flex: 0 1;
            transition: all ease 300ms;

            
        }
        
        // &--map {
        //     position: relative;
        //     display: flex;
        //     flex-direction: column;
        //     flex: 2; 
        //     z-index: 1;
        //     border-radius: 1rem;
            
        //     // border: 1px solid blue;
        //     min-height: 20rem;
        //     min-width: 100%;
        //     opacity: 1;
        //     margin-bottom: 1rem;
    
           
    
            
        
        
        //     &--map {
        //         display: flex;
        //         flex: 1;
        //         // position: relative;
        //         // bottom: 0;
        //         // left: 0;
        //         border: 1px solid magenta;
        //         // z-index: 2;
        //         // border-radius: 1rem;
        //         min-height: 100%;
        //         min-width: 100%;
        //         margin-top: 1rem;
        //         padding: 1rem;

        //         // background-color: green;
        //         // opacity: .25;
                
        #searchMap {
            display: flex;
            flex: 2;
            height: 100%;
            min-width: 100%;
            position: relative;
            // z-index: 1000 ;   
            // border: 1px solid orange;
            border-radius: $--box-radius;
            opacity: 1;
            box-shadow: $--weather-box-shadow;
            margin-bottom: 2rem;
            overflow: hidden;

            // &::before {
            //     content: 'Click to enable map';
            //     color: white;
            //     height: 100%;
            //     width: 100%;
            //     background-color: black;
            //     opacity: .75;
            //     position: absolute;
            //     z-index: 9999999999999999;
            //     top: 0;
            //     left: 0;
            // }

            

        }
            // }        
            // #map {
            //     min-height: 100%;
            //     min-width: 100%;
            //     border: 1px solid purple;
            //     position: relative;
            //     // z-index: 1000;
            //     // top: 0;
            //     // left: 0;
            //     // z-index: 10000;
            //     // filter: grayscale(50);
                
                
            // }
        // }

        & button {
            flex: 0;
            background-color: $pistachio;
            // justify-self: flex-end;
        }
    }

    
}

.map--overlay {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    // overflow: hidden;
    position: absolute;
    z-index: 9999999999999;
    top: 0;
    left: 0;
    color: white;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease 300ms;
    
}

.weatherCard {
    position: relative;
    background-color: transparent;
    // background-image: linear-gradient(135deg, $--gradient-1, $--gradient-2);
    height: 100%;
    min-height: 60rem;
    max-width: 30rem;
    // margin: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;    
    // border-radius: $--box-radius;
    // box-shadow: 0 0 2rem black;
    // padding: 2rem;
    overflow-x: hidden;
    padding-bottom: 2rem;
    animation-name: fadeIn;
    animation-duration: 4000ms;
    animation-iteration-count: once;

    &.box-styling {
        // background-color: $--white;
    }

    // @media only screen and (min-width: $bp-small) {
    //     margin: 0;
    //     max-width: 90%;
    // }


    @media only screen and (min-width: $bp-smallest) {
        margin: 0;
        // max-width: 0;
        min-width: 32em;
        box-shadow: $--weather-box-shadow;
        // border-radius: $--box-radius;

    }
    


    

    &__body {
        // grid-area: body;
        // margin: auto;
        // padding: 1rem 2rem;
        // width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        // border: 1px solid blue;
        background-color: transparent;
        // overflow: hidden;

    }

   
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1.6rem;
    height: auto;
    // margin: 2rem;
    // border-radius: 1rem;
    // color: $--dark-blue-alt;
    position: relative;
    margin: 0 0 4rem 0;
    // overflow: hidden;
    // flex: 1;
    // padding-bottom: 1rem;

    &:hover,
    &:hover h3, 
    &:hover h5, 
    &:hover &--add-fav {
        cursor: pointer;
        color: $--dark-blue;
        // fill: $queen-blue;
        stroke: $--black-lighter;
        stroke-width: 4;
        text-shadow: .25rem .25rem 1rem $--purple;
        transition: all ease 300ms;
        // animation-name: favs;
        // animation-duration: 3s;
        // animation-iteration-count: infinite;
    }


    &__container {
        margin: 2rem;
        position: relative;
        // background-color: $--black-lightest;
        // margin: 1rem;
        // border: 1px solid blue;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-left: 1rem;
        position: relative;
        z-index: 1;

        

        // &:hover path {
        //     fill: blue;
        //     width: 2rem;    
        // }
    }

    &__heading {
        text-size-adjust: auto;
        color: $--black;
        text-shadow: 0 0 1rem $--white;
        transition: all ease 300ms;
        // font-size: 2.5rem;
        // max-width: 50%;

        &--sub {
            font-size: 1.5rem;
            color: $--black;
            text-shadow: 0 0 1rem $--white;
            transition: all ease 300ms;
        }
    } 

    &--add-fav {
        position: absolute;
        top: -.5rem;
        right: -1.5rem;
        fill: transparent;
        transition: all ease 300ms;
        transform: scale(.5);
        stroke: $--black-lighter;
        stroke-width: 3;
        // fill-rule: evenodd;
        border-radius: 5px;
        filter: drop-shadow(1rem 1rem 1rem gray);

        &.bookmarked {
            fill: $--gradient-2;
            // filter: drop-shadow(1rem 1rem 1rem $--purple);
        }
        


        & path {
        transition: all ease 300ms;

        }
    }
    

    &__details {
        position: absolute;
        z-index: 2;
        top: 7rem;
        left: 3rem;
        font-weight: bold;
        font-size: 2.75rem;
        // margin: 0 0 1rem 1rem;
        color: $--dark-blue;
        // background-color: $--white-light;
        // background-clip: text;
        text-shadow: 0 0 1rem white;

        
        // &:not(:last-child) {
        //     margin-bottom: .5rem;
        // }
    }  
    

    &__icon {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 3rem;
        height: auto;
        width: 100%;
        object-fit: cover;
        
        &--img {
            display: flex;
            flex: 1 1;
            transform: scale(1.75);
            position: absolute;
            top: 0;
            right: 0;
            filter: drop-shadow(.5rem .5rem .5rem gray) contrast(2);
            animation-name: icon;
            animation-duration: 3s;
            // filter: saturate(50%);
        }

        &--description {
            position: absolute;
            z-index: 1;
            top: 9rem;
            right: 0;
            display: flex;
            color: $--white;
            font-weight: 800;
            // background-color: $--white-lightest;
            text-shadow: 0 0 1rem black;
            align-self: flex-end;
            font-size: 1.25rem;
            // padding: 1rem;

           
        }
    }
}



// &--map {
//     display: flex;
//     flex: 1 1;
//     position: relative;
//     bottom: 0;
//     left: 0;
//     border: 1px solid magenta;
//     // z-index: 2;
//     border-radius: 1rem;
//     height: 100%;
//     width: 100%;
//     margin-top: 1rem;
//     padding: 1rem;

//     // background-color: green;
//     // opacity: .25;
    
//     #searchMap {
//         display: flex;
//         flex: 1;
//         min-height: 100%;
//         min-width: 100%;
//         position: relative;
//         // z-index: 1000 ;   
//         border: 1px solid orange;
//         opacity: 1;
//     }


.map {
    // grid-area: map;
    position: relative;
    // min-height: 15rem;
    // margin: 1rem;
    width: 100%;
    display: flex;
    // flex-direction: row;
    flex: 2 0 15rem;
    border-radius: $--box-radius;
    // overflow: hidden;
    padding: 0 2rem 2rem 2rem;
    // box-shadow: $--weather-box-shadow;

    // &__border {
    //     position: relative;
    //     z-index: 9;
    //     height: 100%;
    //     // flex: 0 1;
    //     width: 2rem;
    //     background-color: $--blue-gray;
    //     overflow: hidden;
    // }

    // &__window {
    //     display: flex;
    //     position: relative;
    //     // z-index: 10;
    //     // height: 100%;
    //     width: 100%;
    //     margin: 0 2rem;
    //     // border: 2px solid black;
    // border-radius: $--box-radius;
        
    //     overflow: hidden;
    //     flex: 1 1 90%;
    //     background-color: transparent;
    //     // background-clip: content-box;
    //     // border: 2px solid $--black;
    //     box-shadow: $--weather-box-shadow;
    //     // filter: blur(1px);
    // border-radius: $--box-radius;
        
        
        #mapid {
            display: flex; 
            flex: 1 0;
            min-height: 100%;
            min-width: 100%;
            position: relative;
            // z-index: 1000 ;   
            // border: 5px solid orange;
            opacity: 1;
            overflow: hidden;
    border-radius: $--box-radius;
    box-shadow: $--weather-box-shadow;


        }
        
        #map {
            display: flex;
            flex: 1 0;
            min-height: 100%;
            min-width: 100%;
            // border: 5px solid purple;
            position: relative;
    border-radius: $--box-radius;
    box-shadow: $--weather-box-shadow;
        

            // z-index: 1000;
            // top: 0;
            // left: 0;
            // z-index: 10000;
            // filter: grayscale(50);
            
            
        }

    // }

    
    

}

.forecast {
    padding: 1.5rem 2rem;
    background-color: transparent;
    // overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 1 1;

    
}



.hourly {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // flex: 0 0;
    margin-bottom: 1.5rem;
    box-shadow: $--weather-box-shadow;
    border-radius: $--box-radius;
    overflow: hidden;

    &__header {
        background-color: $--black-lighter;
        color: $--white;
        text-shadow: 0 0 .5rem black;
        padding: .25rem .25rem .25rem 1rem;
        // margin-bottom: .5rem;
        font-weight: 400;
        letter-spacing: .15rem;
        text-transform: uppercase;
        // box-shadow: $--weather-box-shadow;
    }


    &__detail {
        display: flex;
        flex-direction: row;
        
        // flex: 1;
        background-color: $--white-alt;
        color: $--black;
        // box-shadow: 0 0 2rem black;

        // background-color: rgba(224, 224, 224, 0.747);
        // border-radius: 1rem;

        &--box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-time {
                margin-top: .5rem;
                font-weight: 800;
                font-size: 1.25rem;
    
            }
    
            &-temp {
                margin-top: .5rem;
                font-size: 1.2rem;
                color: $--dark-blue;
                font-weight: 800;
            }
    
            &-icon {
                padding: -.5rem;
                height: 100%;
                width: 100%;
                // background-clip: content-box;
                // background-color: $--white-lightest;
                filter: drop-shadow(.5rem .5rem .5rem gray) contrast(2);
                // box-shadow: 0 0 1rem $--white-lightest;
                animation-name: days;
                animation-duration: 3s;
            }
        }

        
    }
    
}



.daily {
    display: flex;
    flex-direction: column;
    // flex: 1;
    // box-shadow: 0 0 2rem black;
    box-shadow: $--weather-box-shadow;
    overflow: hidden;
    border-radius: $--box-radius;
    // animation-name: slideIn;
    // animation-delay: 2000ms;

    // animation-duration: 1000ms;

    &__header {
        background-color: $--black-lighter;
        color: $--white;
        text-shadow: 0 0 .5rem black;
        padding: .25rem .25rem .25rem 1rem;
        // margin-bottom: .5rem;
        font-weight: 400;
        letter-spacing: .15rem;
        text-transform: uppercase;
        // box-shadow: $--weather-box-shadow;

    }



    &__detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // flex: 1 1;
        // background-color: $--white-lightest;
        // flex-direction: row;
        // justify-content: space-between;
        // border-radius: 1rem;
        background-color: $--white-alt;
        padding: 0 .5rem;
        font-size: 1rem;
        color: $--dark-blue;
        

        &:first-child {
            // margin-top: .5rem;
        }

        &--box{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;

            &-weekday {
                grid-column: 1 / 6;
                text-transform: uppercase;
                
                display: flex;
                flex-direction: row;
            }
    
            &-icon {
                height: 3rem;
                filter: opacity(.75) contrast(2); 
            }
    
            &-day {
                // align-self: flex-start;
                // font-weight: 600;
                // padding-left: .5rem;
                align-self: center;
                letter-spacing: .1rem;
                font-weight: bold;
            }
    
            &-precip {
                grid-column: 9 / 12;
                justify-self: start;
                // padding-right: 2rem;
                // background-color: gray;
                // width: 8rem;
                // border: 1px solid blue;
                align-self: center; //centering vertically
                // margin-left: auto;
                
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: nowrap;
                // font-size: 1rem;
    
    
    
                & p .text {
                    font-weight: bold;
                }
    
                & img {
                    height: 1.5rem;
                }
    
            }
    
            &-temp {
                grid-column: -1;
                // justify-items: end stretch;
                display: flex;
                flex-direction: row;
                align-self: center;
    
                font-weight: bold;
                // justify-self: start;
                // margin-left: auto;
                // justify-content: space-between;
    
    
    
    
               
    
                
    
            }
        }

        
    }

    

    // &-temp {
    //     grid-column: 12;
    // }
}
    



.temp__bars {
    display: flex;
    flex-direction: column;
    // justify-items: center;
    // justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 4rem;
    height: 100%;
    padding: 0 .5rem;
    position: relative;
    // border: 1px solid magenta;
    // font-size: .5rem;

    &--low {
        // justify-self: center;
        // position: relative;
        height: .5rem;
        width: 0%;
        background-image: hsl(0, 80%, 60%);
    }

    &--high {
        // justify-self: flex-end;
        position: relative;
        height: .5rem;
        width: 0%;
        background-color: hsl(0, 80%, 60%);
        transition: all ease 1000ms;
    }
}

.component-box {
    background-color: $--dark-blue;
}

.saved {
    // position: relative;
    // width: 100%;
    height: 100%;
    padding: 2rem 2rem 7rem 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    // display: grid;
    // grid-template-columns: 1fr;
    background-color: transparent;
    // background-image: linear-gradient(135deg, $--gradient-1, $--gradient-2);
    // border-radius: $--box-radius;
    // box-shadow: $--weather-box-shadow;
    display: flex;
    align-self: flex-end;
    // padding-bottom: 7rem;
    // flex: 0 1;
    // flex-direction: column;
    // flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    //TODO add media query for favorites size



    @media only screen and (min-width: $bp-smallest) {
        width: 30rem;

        box-shadow: $--weather-box-shadow;
        // border-radius: $--box-radius;
    }
    

    &__box {
        position: relative;
        // padding: 1rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        border-radius: $--box-radius;
        overflow: hidden;
        box-shadow: $--weather-box-shadow;
    }

    &__header {
        background-color: $queen-blue;
        color: $--white;
        font-size: 1.4rem;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        position: sticky;
        // display: sticky;
        top: 0;
        
    }

    &__card {
        width: 100%;
        // border: 1px solid red;
        background-color: $--white-alt;
        // padding: 1rem;
        // border-radius: $--box-radius;
        overflow: hidden;
        // margin: .25rem 1rem;
        display: flex;
        flex-direction: row;
        transition: all ease 200ms;
        box-shadow: 0 0 1px $--black-light;


        &:hover {
            background-color: $--greenish-lighter;
            transition: all ease 200ms;
        }

    
        &--img {
            height: 100%;
            object-fit: cover;
            
        }

        &--detail {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            // border: 1px solid blue;
            // background-color: $--dark-blue;
            max-height: 5rem;


            &-header {
                
                height: 100%;
                width: 100%; 
                display: flex;
                margin-right: 1rem;

                & a {
                    padding: .5rem 0;
                    align-self: center;
                    width: 100%;
                    // background-color: rosybrown;
                    text-decoration: none;
                    color: $--dark-blue;
                }
            }

            &--remove-favorite {
                margin-left: auto;
            }
        }

        &--locationID {
            display: none;
        }
    }



}








.map-marker svg {
    // height: 2rem;
    // width: 2rem;
    transform: scale(.1);

}


.remove-fav {
    background-color: $--reddish-lighter;
    border-radius: 50%;
    fill: #ffffff;
    height: 75%;
    width: 75%;

    &:hover {
        background-color: $--reddish;
    }
}

.leaflet-tile-loaded {
    // background-color: transparent;
    background-blend-mode: darken;
    // filter: contrast(150%) ;
}

.leaflet-map-pane {
    position: relative;
    z-index: 9999;
}

@keyframes icon {
    0% { 
        transform: scale(1.75) translateY(-10rem);
        
    }
    100% {
        transform: scale(1.75) translateY(0rem);
    }
}

@keyframes days {
    0% {
        transform: translateY(5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes favs {
    0% {
        // fill: $--dark-blue-alt;
        // fill-opacity: 0;
        // filter: drop-shadow($--weather-box-shadow);
    }
    100% {
        // fill: $--dark-blue-alt;
        // fill-opacity: 1;
        // filter: drop-shadow($--weather-box-shadow);
        
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transition: all ease 300ms;

    }

    100% {
        opacity: 1;
        transition: all ease 300ms;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-60rem);
    }
    100% {
        transform: translateX(0);
    }
}