* {
    scrollbar-width: thin;
    scrollbar-color: $--dark-blue ;
}

*::-webkit-scrollbar {
    width: 50%;
    height: .5rem;
    border-radius: 1rem;
}


*::-webkit-scrollbar-thumb {
    background-color: $--dark-blue;
    border-radius: 1rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    // width: 100%;
    min-height: 100vh;
    // font-size: 1.2rem;
    background: transparent;

    // @media screen and (min-width: $bp-small) {
    //     width: 50%;
    // }
}

main {
    position: relative;
    z-index: 1;
    // min-height: 100vh;
    // background: rgba(66, 50, 50, 0.212);
    
}



svg, path {
    pointer-events: stroke;
  
}

/* --- scroll snap --- */
.swipeView {
    background-image: linear-gradient(135deg, $--gradient-1, $--gradient-2);

    height: 100vh;
    display: flex;
    flex-direction: column;
    // position: absolute;
    // z-index: 1;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    // will-change: transform;
    // align-content: center;
    // overflow-x: auto;
    
    // scroll-snap-coordinate: 0 0;
    // scroll-snap-points-x: repeat(100%);
    // scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    // background-color: transparent;
    width: 100%;
    // overflow-y: hidden;
    // backdrop-filter: blur(5px);
    // overflow: hidden;
    
    @media only screen and (min-width: $bp-smallest) {
        height: 100vh;
    }


    
}


// .nav {
//     position: fixed;
//     bottom: 0;
//     left: 50%;
//     border: 1px solid magenta;
//     padding: 3rem;
// }
// .scroll-align {
//     scroll-snap-align: start;
// }


// .pages {
//     grid-row: 1 / 1;

// }



.pages {
    // grid-row: 1 / 1;
    flex: 1;
    height: 100%;
    // margin-bottom: 8rem;
    position: relative;
    // z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: 100%;
    will-change: transform;
    align-content: center;
    overflow-x: auto;
    
    scroll-snap-coordinate: 0 0;
    // scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
    width: 100%;
    // overflow-y: hidden;
    // backdrop-filter: blur(5px);


    @media only screen and (min-width: $bp-smallest) {
        height: 100vh;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    & > section {
        // min-height: 100%;
        // width: 100%;
        scroll-snap-align: center;
        // border: .5rem solid white;
        // border-left: .25rem solid white;
        // border-right: .25rem solid white;

        // border-radius: $--box-radius;
        // margin-bottom: 0.5rem;
        // background-color: transparent;
        
    }

}

// .weatherPage {
//     grid-row: 1 / 1;
//     display: none;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     width: auto;
    // border: 1px solid red;
    /* position: absolute;
    top: 70%;
    right: 10px;
    left: 10px; */
    // z-index: 1;

    
    

// }





.footer {
    flex: 1 1 -4rem;
    // grid-row: 2 / 2;
    position: fixed;
    bottom: -4rem;
    width: 100%;
    // height: 100%;
    // padding: 1rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background-color: $--gradient-2;
    transition: all ease 300ms;


    &.open {
        transform: translateY(-4rem);
        transition: all ease 300ms;
    }

    &__toggle {
        height: 2rem;
        background-color: $--dark-blue;
        width: 100%;
        position: relative;
        border-top-right-radius: 10rem;
        border-top-left-radius: 10rem;




        &--burger {


            &::before,
            &::after {
                content: '';
                position: absolute;
                // top: 50%;
                left: 50%;
                transform: translateX(-50%);
                width: 3rem;
                height: .25rem;
                background-color: magenta;

            

            }


    
            &::before {
                top: .5rem;
            }

            &::after {
                bottom: .5rem;
            }
        }
        
        &:hover {
            background-color: $--greenish;
        }



       
    }

    

    &__menu {
        display: flex;
        // height: 3rem;
        width: 100%;
        // background-color: green;
    }

    &__link {
        text-decoration: none;
        color: $--white;
        background-color: $--dark-blue;
        padding: .5rem 1rem;
        position: relative;
        transition: all ease 300ms;
        font-size: 2rem;
        width: 100%;
        height: 100%;
        text-align: center;
        text-shadow: .25rem .25rem .5rem black;
        // margin-top: 1rem;
        // box-shadow: 0 0 1rem black;
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            // left: 0;
            height: .25rem;
            width: 1.5rem;
            background-color: $--greenish;
            filter: drop-shadow(.25rem .25rem .5rem black)
        }
    
        &:first-child:before {
            top: 1.25rem;
            left: 1rem;
            transform: rotate(135deg);
            transition: all ease 300ms;
    
        }
    
        &:first-child:after {
            top: 2.25rem;
            left: 1rem;
            transform: rotate(45deg);
            transition: all ease 300ms;
    
        }

        &:last-child::before {
            top: 1.25rem;
            right: 1rem;
            transform: rotate(45deg);
            transition: all ease 300ms;
        }

        &:last-child::after {
            top: 2.25rem;
            right: 1rem;
            transform: rotate(135deg);
            transition: all ease 300ms;
    
        }
    
        &:hover {
            color: $--greenish;
            background-color: $--dark-blue;
            transition: all ease 300ms;
        }
        
        &:hover::before,
        &:hover::after {
            color: $--greenish;
            background-color: magenta;
            transition: all ease 300ms;
    
        }

        // & .search--link::before,
        // & .saved--link::after {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     height: .25rem;
        //     width: 1.5rem;
        //     background-color: $--greenish;
        // }


    }
}


