* {
    scrollbar-width: none;
    scrollbar-color: $--dark-blue ;
}

*::-webkit-scrollbar {
    width: 50%;
    height: .5rem;
    border-radius: 1rem;
}


*::-webkit-scrollbar-thumb {
    background-color: $--dark-blue;
    border-radius: 1rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    // width: 100%;
    min-height: 100vh;
    // font-size: 1.2rem;
    background: transparent;
    

    // @media screen and (min-width: $bp-small) {
    //     width: 50%;
    // }
}

svg, path {
    pointer-events: stroke;
  
}

/* --- scroll snap --- */
.main { //main
    display: grid;
    grid-template-areas:
        "search current saved";
    grid-template-columns: repeat(3, 100vw);
    grid-template-rows: 100%;
    column-gap: 3rem;

    height: 100vh;
    width: 100%;
    scroll-snap-coordinate: 0 0;
    scroll-snap-type: x mandatory;
    will-change: auto;

    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    background-image: linear-gradient(135deg, $--gradient-5, $--gradient-4);
    background-color: transparent;


    @media only screen and (min-width: $bp-smallest) {
        // height: 100vh;
    }

    @media only screen and (min-width: $bp-medium) {
        // display: none;
        
    }



    &__page {
        scroll-snap-align: center;
        min-width: 27.5rem;
        // max-height: 40rem;
        border-radius: $--box-radius;
        box-shadow: $--weather-box-shadow;
        
        


        @media only screen and (min-width: $bp-smallest) { //keeps search and saved width 
            width: 90%;
        }
    
        @media only screen and (min-width: $bp-small) { 
            max-width: 40rem;
        }
    
        @media only screen and (min-width: $bp-medium) {
            display: none;
            
            &.search,
            &.saved {
                display: none;
            }
    
        }
    
        @media only screen and (min-width: $bp-medium) {
    
            &--medium {
                display: flex;
                justify-content: center;

                min-width: 100%;
            }
        }
    }
    
}


#search {
    grid-area: search;
}


#current-weather-box {
    grid-area: current;
    border: 1px solid rgb(255, 0, 0);
}

#saved {
    grid-area: saved;
}
//! Remove this======
// .weatherPage {
//     display: none;

//     &.show {
//         display: flex;
//     }
// }
//!=-================

// .l-page {
//     scroll-snap-align: center;
//     min-width: 27.5rem;
//     border-radius: $--box-radius;
//     box-shadow: $--weather-box-shadow;
//     // border: 1px solid aqua;
    
//     @media only screen and (min-width: $bp-smallest) {
//         width: 90%;
//     }

//     @media only screen and (min-width: $bp-small) {
//         max-width: 40rem;
//     }

//     @media only screen and (min-width: $bp-medium) {
//         display: none;

//     }

//     //! remove this==---=
//     // &.weatherPage { 
//     //     border-radius: none;
//     //     box-shadow: none;
//     // }
//     //!--------------------

//     @media only screen and (min-width: $bp-medium) {

//         &--desktop {
//             // height: 100vh;
//             // max-width: 40rem;
//             min-width: 100%;
//             display: flex;
//             // flex-direction: row;
//             justify-content: center;
//             align-items: center;
//             min-height: 100vh;
//             // margin: 2rem;
//             // border-radius: $--box-radius;
//             // box-shadow: $--weather-box-shadow;

//         }
//     }
// }

.nav {
    flex: 1 1 -4rem;
    // grid-row: 2 / 2;
    position: fixed;
    z-index: 9999;
    bottom: -5rem;
    width: 100%;
    // height: 100%;
    // padding: 1rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    transition: all ease 300ms;

    @media only screen and (min-width: $bp-medium) {
        // position: absolute;
        // top: 0;
        // left: 4rem;
        // width: auto;
        // bottom: 0;
        // z-index: 0;
        height: 100%;
        display: none;
        grid-area: menu;

    }


    &.is-open {
        transform: translateY(-5rem);
        transition: all ease 300ms;
    }

    

    &__toggle {
        height: 3rem;
        background-color: $--dark-blue;
        width: 100%;
        position: relative;
        // border-top-right-radius: 10rem;
        // border-top-left-radius: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        @media only screen and (min-width: $bp-medium) {
            display: none;
    
        }


        &--burger {

            &,
            &::before,
            &::after {
                content: '';
                position: absolute;
                // top: 50%;
                // top: 50%;
                // left: 50%;
                // transform: translateX(-50%);
                width: 2rem;
                height: .2rem;
                background-color: $--purple-lighter;
            }
    
            &::before {
                top: .5rem;
            }

            &::after {
                bottom: .5rem;
            }
        }
    }

    

    &__menu {
        display: flex;
        flex-direction: row;
        // height: 3rem;
        width: 100%;
        // background-color: green;
        
        @media only screen and (min-width: $bp-medium) {
            font-size: 1.5rem;
            background-color: transparent;
    
        }

    }

    &__link {
        text-decoration: none;
        color: $--white;
        background-color: $--dark-blue;
        padding: 0 1rem;
        position: relative;
        transition: all ease 300ms;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        width: 100%;
        height: 5rem;
        text-align: center;
        text-shadow: .25rem .25rem .5rem black;
        border: 1px solid $--white-lightest;
        // margin-top: 1rem;
        // box-shadow: 0 0 1rem black;

        @media only screen and (min-width: $bp-medium) {
            border: none;
        }


        &.search__link,
        &.saved__link,
        &.info__link {
            font-size: 1.4rem;
            display: flex;
            // flex-direction: row;
            justify-content: center;
            align-items: center;

            @media only screen and (min-width: $bp-small) {
                font-size: 1.6rem;
            }

            @media only screen and (min-width: $bp-medium) {
                grid-area: nav;
                // font-size: 1.5rem;
                // text-shadow: .25rem .25rem .5rem black;
                // background-color: transparent;
                // color: $--white;
                // font-weight: 600;
                // border-radius: 1rem;
                // padding: 0 1rem;

                &:hover > svg {
                    fill: $--purple-lighter;
                    filter: drop-shadow(0 0 .5rem $--black);
                    transition: all ease 300ms;
                }
                

                & svg {
                    fill: $--white;
                    filter: drop-shadow(0 0 .5rem $--black);
                    transform: scale(1);
                    transition: all ease 300ms;

                    &:active {
                        fill: $--mustard;
                    }
                }


                // &:hover {
                //     text-shadow: .25rem .25rem .5rem white;
                //     color: black;
                //     box-shadow: $--weather-box-shadow;
                // }

                // &:first-of-type {
                //     // margin-right: 1rem;
                // }
        
            }

            

            & svg {
                fill: $--purple-lighter;
                transform: scale(1);
            }
        }  

        &.info__link {
            align-self: center;
            justify-self: center;

        }
    }
}


