@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  background: transparent;
}

main {
  position: relative;
  z-index: 1;
  /* background: rgba(66, 50, 50, 0.212) */
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
  margin-bottom: 0.5rem;
  background-color: transparent;
}

svg, path {
  pointer-events: stroke;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #073b4c transparent;
}

*::-webkit-scrollbar {
  width: 50%;
  height: 0.5rem;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #073b4c;
  border-radius: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  background: transparent;
}

main {
  position: relative;
  z-index: 1;
  /* background: rgba(66, 50, 50, 0.212) */
}

section {
  height: 90vh;
  width: 100%;
  scroll-snap-align: center;
  margin-bottom: 0.5rem;
  background-color: transparent;
}

svg, path {
  pointer-events: stroke;
}

/* --- scroll snap --- */
.swipeView {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  will-change: transform;
  align-content: center;
  overflow-x: auto;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
}

#mapid {
  /* height: 100vh !important; */
  position: relative;
  z-index: -1;
}

#map {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.currentCityCard {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 70%;
  right: 10px;
  left: 10px; */
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__header {
  color: #118ab2;
  font-size: 4rem;
  margin-bottom: 5rem;
  text-align: center;
}
.search__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}
.search__form--input {
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem black;
  font-weight: 600;
}
.search__form input[type=text]:focus {
  background-color: #f7f0b5;
  transform: scale(1.1);
  transition: all ease 300ms;
}
.search__form--btn {
  border: none;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #f9f9f9;
  font-size: 2rem;
  background-color: #118ab2;
  box-shadow: 0 0.5rem 1rem black;
}

.card {
  position: relative;
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem black;
}
.card__img {
  height: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__img--img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  object-fit: contain;
  border: 1px solid red;
}
.card__img--description {
  position: absolute;
  bottom: 0;
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__body {
  margin-left: 1rem;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.card__body--details {
  font-size: 1.3rem;
}
.card__body--details:not(:last-child) {
  margin-bottom: 0.5rem;
}
.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #118ab2;
}
.card__add-fav {
  fill: #198754;
}

.remove-fav {
  fill: #dc3545;
}

/*# sourceMappingURL=style.css.map */
