@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
/* SCSS Gradient */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #073b4c;
}

*::-webkit-scrollbar {
  width: 50%;
  height: 0.5rem;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #073b4c;
  border-radius: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background: transparent;
}

main {
  position: relative;
  z-index: 1;
}

svg, path {
  pointer-events: stroke;
}

/* --- scroll snap --- */
.swipeView {
  background-image: linear-gradient(135deg, #e2f1ff, #b894b6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 20em) {
  .swipeView {
    height: 100vh;
  }
}

.pages {
  flex: 1;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: 100%;
  will-change: transform;
  align-content: center;
  overflow-x: auto;
  scroll-snap-coordinate: 0 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  width: 100%;
}
@media only screen and (min-width: 20em) {
  .pages {
    height: 100vh;
  }
}
.pages::-webkit-scrollbar {
  display: none;
}
.pages > section {
  scroll-snap-align: center;
}

/* position: absolute;
top: 70%;
right: 10px;
left: 10px; */
.footer {
  flex: 1 1 -4rem;
  position: fixed;
  bottom: -4rem;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: #b894b6;
  transition: all ease 300ms;
}
.footer.open {
  transform: translateY(-4rem);
  transition: all ease 300ms;
}
.footer__toggle {
  height: 2rem;
  background-color: #073b4c;
  width: 100%;
  position: relative;
  border-top-right-radius: 10rem;
  border-top-left-radius: 10rem;
}
.footer__toggle--burger::before, .footer__toggle--burger::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 0.25rem;
  background-color: magenta;
}
.footer__toggle--burger::before {
  top: 0.5rem;
}
.footer__toggle--burger::after {
  bottom: 0.5rem;
}
.footer__toggle:hover {
  background-color: #06d6a0;
}
.footer__menu {
  display: flex;
  width: 100%;
}
.footer__link {
  text-decoration: none;
  color: #f9f9f9;
  background-color: #073b4c;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all ease 300ms;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0.25rem 0.25rem 0.5rem black;
}
.footer__link::before, .footer__link::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 1.5rem;
  background-color: #06d6a0;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem black);
}
.footer__link:first-child:before {
  top: 1.25rem;
  left: 1rem;
  transform: rotate(135deg);
  transition: all ease 300ms;
}
.footer__link:first-child:after {
  top: 2.25rem;
  left: 1rem;
  transform: rotate(45deg);
  transition: all ease 300ms;
}
.footer__link:last-child::before {
  top: 1.25rem;
  right: 1rem;
  transform: rotate(45deg);
  transition: all ease 300ms;
}
.footer__link:last-child::after {
  top: 2.25rem;
  right: 1rem;
  transform: rotate(135deg);
  transition: all ease 300ms;
}
.footer__link:hover {
  color: #06d6a0;
  background-color: #073b4c;
  transition: all ease 300ms;
}
.footer__link:hover::before, .footer__link:hover::after {
  color: #06d6a0;
  background-color: magenta;
  transition: all ease 300ms;
}

.searchPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.searchPage__header {
  color: rgba(0, 0, 0, 0.75);
  font-size: 4rem;
  margin-bottom: 5rem;
  text-align: center;
  text-shadow: 0 0 1rem #118ab2;
}
.searchPage__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}
.searchPage__form--input {
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem black;
  font-weight: 600;
}
.searchPage__form--btn {
  border: none;
}

input[type=text]:focus {
  background-color: #f7f0b5;
  padding: 0.5rem;
  transition: all ease 300ms;
}

.btn {
  padding: 0.75rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  color: #f9f9f9;
  font-size: 2rem;
  background-color: rgba(7, 59, 76, 0.5);
  box-shadow: 0 0 1rem black;
}
.btn--modal {
  box-shadow: none;
}
.btn:hover {
  cursor: pointer;
}

.search__modal {
  position: relative;
  align-self: start;
  justify-self: center;
  height: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  padding: 4rem 0 6rem 0;
}
@media only screen and (min-width: 20em) {
  .search__modal {
    box-shadow: 0 0 1rem black;
    border-radius: 1rem;
  }
}
.search__modal--header {
  font-size: 2rem;
  text-align: left;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 0 1rem white;
}
.search__modal--header:first-of-type {
  margin-top: 0;
}
.search__modal--form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding: 1rem;
  flex: 1;
  position: relative;
}
.search__modal--form-input {
  width: 100%;
  padding: 0.1rem 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all ease 300ms;
}
.search__modal--form #searchMap {
  display: flex;
  flex: 2;
  height: 100%;
  min-width: 100%;
  position: relative;
  border-radius: 1rem;
  opacity: 1;
  box-shadow: 0 0 1rem black;
  margin-bottom: 2rem;
  overflow: hidden;
}
.search__modal--form button {
  flex: 0;
  background-color: #90be6d;
}

.map--overlay {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  color: white;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all ease 300ms;
}

.weatherCard {
  position: relative;
  background-color: transparent;
  height: 100%;
  min-height: 60rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  padding-bottom: 2rem;
  animation-name: fadeIn;
  animation-duration: 4000ms;
  animation-iteration-count: once;
}
@media only screen and (min-width: 20em) {
  .weatherCard {
    margin: 0;
    min-width: 32em;
    box-shadow: 0 0 1rem black;
  }
}
.weatherCard__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  font-size: 1.6rem;
  height: auto;
  position: relative;
  margin: 0 0 4rem 0;
}
.header:hover, .header:hover h3, .header:hover h5, .header:hover .header--add-fav {
  cursor: pointer;
  color: #073b4c;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 4;
  text-shadow: 0.25rem 0.25rem 1rem #8400ac;
  transition: all ease 300ms;
}
.header__container {
  margin: 2rem;
  position: relative;
}
.header__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.header__heading {
  text-size-adjust: auto;
  color: black;
  text-shadow: 0 0 1rem #f9f9f9;
  transition: all ease 300ms;
}
.header__heading--sub {
  font-size: 1.5rem;
  color: black;
  text-shadow: 0 0 1rem #f9f9f9;
  transition: all ease 300ms;
}
.header--add-fav {
  position: absolute;
  top: -0.5rem;
  right: -1.5rem;
  fill: transparent;
  transition: all ease 300ms;
  transform: scale(0.5);
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 3;
  border-radius: 5px;
  filter: drop-shadow(1rem 1rem 1rem gray);
}
.header--add-fav.bookmarked {
  fill: #b894b6;
}
.header--add-fav path {
  transition: all ease 300ms;
}
.header__details {
  position: absolute;
  z-index: 2;
  top: 7rem;
  left: 3rem;
  font-weight: bold;
  font-size: 2.75rem;
  color: #073b4c;
  text-shadow: 0 0 1rem white;
}
.header__icon {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 3rem;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.header__icon--img {
  display: flex;
  flex: 1 1;
  transform: scale(1.75);
  position: absolute;
  top: 0;
  right: 0;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem gray) contrast(2);
  animation-name: icon;
  animation-duration: 3s;
}
.header__icon--description {
  position: absolute;
  z-index: 1;
  top: 9rem;
  right: 0;
  display: flex;
  color: #f9f9f9;
  font-weight: 800;
  text-shadow: 0 0 1rem black;
  align-self: flex-end;
  font-size: 1.25rem;
}

.map {
  position: relative;
  width: 100%;
  display: flex;
  flex: 2 0 15rem;
  border-radius: 1rem;
  padding: 0 2rem 2rem 2rem;
}
.map #mapid {
  display: flex;
  flex: 1 0;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  opacity: 1;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1rem black;
}
.map #map {
  display: flex;
  flex: 1 0;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0 1rem black;
}

.forecast {
  padding: 1.5rem 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.hourly {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 1rem black;
  border-radius: 1rem;
  overflow: hidden;
}
.hourly__header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f9f9f9;
  text-shadow: 0 0 0.5rem black;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.hourly__detail {
  display: flex;
  flex-direction: row;
  background-color: #ebebeb;
  color: black;
}
.hourly__detail--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hourly__detail--box-time {
  margin-top: 0.5rem;
  font-weight: 800;
  font-size: 1.25rem;
}
.hourly__detail--box-temp {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #073b4c;
  font-weight: 800;
}
.hourly__detail--box-icon {
  padding: -0.5rem;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem gray) contrast(2);
  animation-name: days;
  animation-duration: 3s;
}

.daily {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem black;
  overflow: hidden;
  border-radius: 1rem;
}
.daily__header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f9f9f9;
  text-shadow: 0 0 0.5rem black;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.daily__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ebebeb;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: #073b4c;
}
.daily__detail--box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}
.daily__detail--box-weekday {
  grid-column: 1/6;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}
.daily__detail--box-icon {
  height: 3rem;
  filter: opacity(0.75) contrast(2);
}
.daily__detail--box-day {
  align-self: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.daily__detail--box-precip {
  grid-column: 9/12;
  justify-self: start;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.daily__detail--box-precip p .text {
  font-weight: bold;
}
.daily__detail--box-precip img {
  height: 1.5rem;
}
.daily__detail--box-temp {
  grid-column: -1;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-weight: bold;
}

.temp__bars {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  width: 4rem;
  height: 100%;
  padding: 0 0.5rem;
  position: relative;
}
.temp__bars--low {
  height: 0.5rem;
  width: 0%;
  background-image: #eb4747;
}
.temp__bars--high {
  position: relative;
  height: 0.5rem;
  width: 0%;
  background-color: #eb4747;
  transition: all ease 1000ms;
}

.component-box {
  background-color: #073b4c;
}

.saved {
  height: 100%;
  padding: 2rem 2rem 7rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 20em) {
  .saved {
    width: 30rem;
    box-shadow: 0 0 1rem black;
  }
}
.saved__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 1rem black;
}
.saved__header {
  background-color: #577590;
  color: #f9f9f9;
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
}
.saved__card {
  width: 100%;
  background-color: #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: all ease 200ms;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
}
.saved__card:hover {
  background-color: rgba(6, 214, 160, 0.5);
  transition: all ease 200ms;
}
.saved__card--img {
  height: 100%;
  object-fit: cover;
}
.saved__card--detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-height: 5rem;
}
.saved__card--detail-header {
  height: 100%;
  width: 100%;
  display: flex;
  margin-right: 1rem;
}
.saved__card--detail-header a {
  padding: 0.5rem 0;
  align-self: center;
  width: 100%;
  text-decoration: none;
  color: #073b4c;
}
.saved__card--detail--remove-favorite {
  margin-left: auto;
}
.saved__card--locationID {
  display: none;
}

.map-marker svg {
  transform: scale(0.1);
}

.remove-fav {
  background-color: rgba(239, 71, 111, 0.5);
  border-radius: 50%;
  fill: #ffffff;
  height: 75%;
  width: 75%;
}
.remove-fav:hover {
  background-color: #ef476f;
}

.leaflet-tile-loaded {
  background-blend-mode: darken;
}

.leaflet-map-pane {
  position: relative;
  z-index: 9999;
}

@keyframes icon {
  0% {
    transform: scale(1.75) translateY(-10rem);
  }
  100% {
    transform: scale(1.75) translateY(0rem);
  }
}
@keyframes days {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes favs {}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transition: all ease 300ms;
  }
  100% {
    opacity: 1;
    transition: all ease 300ms;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-60rem);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
