@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    // background: transparent;
}

.text {
    margin-top: .5rem;

    font-weight: 600;
    font-size: 1.25rem;

    transition: all ease 300ms;

    @media only screen and (min-width: $bp-smallest) {
            font-size: 1.3rem;
            transition: all ease 300ms;
        }

    @media only screen and (min-width: $bp-medium) {
            font-size: 1.4rem;
            transition: all ease 300ms;
    }

    &__secondary {
        font-size: 1.2rem;

    }

    &--extras {
        font-size: 1rem;
        margin-top: 0;

        @media only screen and (min-width: $bp-medium) {
            font-size: 1.4rem;

            
        }
    }

    &__uv {
        font-size: 2rem;
    }

    &__nav {
        display: none;
        text-transform: uppercase;
        margin-left: .5rem;

        @media only screen and (min-width: $bp-small) {
            display: flex;
            font-size: 1.5rem;
        }

        @media only screen and (min-width: $bp-medium) {
            display: none;
            // font-size: 1.5rem;
        }
    }

    &__current {
        text-transform: uppercase;

        @media only screen and (min-width: $bp-small) {
            font-size: 1.5rem;
        }

        @media only screen and (min-width: $bp-medium) {
            font-size: 1.5rem;
        }

        &--temp {
            font-size: 4rem;
            text-shadow: 0 0 1rem gray;

            @media only screen and (min-width: $bp-medium) {
                font-size: 6rem;    
            }
        }
    }

    &--temp {
        color: $--dark-blue;
    }

    &--weekly {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: .1rem;
        padding: 0;
        margin: 0;
        
        @media only screen and (min-width: $bp-medium) {
            transition: all ease 300ms;

        }
        @media only screen and (min-width: $bp-medium-large) {
            font-size: 1.4rem;
            transition: all ease 300ms;

        }

    }
}

.icon {
    filter: opacity(.75) drop-shadow(.5rem .5rem .5rem gray) contrast(2);
    transition: all ease 300ms;

    @media only screen and (min-width: $bp-smallest) {
        transition: all ease 300ms;
    }

    &--hourly {
        animation-name: days;
        animation-duration: 3s;
        width: 100%;
        transition: all ease 300ms;
    }

    &--weekly {
        justify-self: center;
        align-self: center;

        height: 3rem;
        filter: contrast(2); 
    }
}