// ----- Info/Instructions Modal -----
.info {
    position: absolute;
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;

    background-color: $--black-light;
    backdrop-filter: blur(5px);
    border: none;

    @media only screen and (min-width: $bp-smallest) {
        max-width: 32rem;
    }

    &.show {
        display: flex;
    }

    .info__header {
        align-self: center;

        &--heading {
            color: $--white-alt;
            text-align: center;

        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        // margin: 1rem 0;
        padding: .5rem 1rem;
        height: 100%;
        overflow: hidden;

        background-color: $--white-alt;
        border-top: none;
    }

    &__list {
        list-style: none;
        
    }

    &__item {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
        flex: 1 1 auto;
        font-size: 1.2rem;
        color: $--black;
        transition: all ease 500ms;


        &:hover svg {
            fill: $--accent;
            transition: all ease 500ms;
        }

        &:hover .info__icon--save {
            stroke: $--accent;
            transition: all ease 500ms;
            fill: transparent;
        }
        
    }

    // &__text {

    //     &:hover   {
    //         background-color: blue;
    //     }
    // }

    &__icon {
        justify-self: center;
        align-self: center;
        margin: 1rem 2rem 1rem 1rem;
    
        svg {
            fill: $--black;
            height: 2rem;
            transform: scale(1.25);
            transition: all ease 500ms;

        }

        .info__icon--save {
            stroke: $--black;
            stroke-width: 1.75px;
            border: none;
            fill: transparent;
            transition: all ease 500ms;

        }
    }
        

    &__btn {
        background-color: $--accent;
    }
}